
<!-- Map -->
<openlayers ol-center="mapCenter" ol-defaults="mapDefaults" class="map">
  <ol-marker ng-repeat="tweet in tweets" ol-marker-properties="tweet" style="display:none;"></ol-marker>
</openlayers>

<br />
<br />

<!-- UI -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10">
      <p>{{message}}</p>
    </div>
    <div class="col-xs-2">
      
      <!-- Trigger modal -->
      <button type="button" class="btn btn-primary btn pull-right" ng-click="showLocationModal()">
        Find Tweets
      </button>

    </div>
  </div>
</div>